:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

* {
  box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #2F3645;
  }
  main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title{
    margin:40px 0 40px 0;
  }
  .title h1{
    font-size: 36px;
    color: white;
    font-weight: semibold;
  }
  .cards-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper-section {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.card-container:hover .wrapper-section {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper-section::after,
.wrapper-section::before {
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  position: relative;
  left: 0;
}

.wrapper-section::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card-container:hover .wrapper-section::before, .wrapper-section::after{
    opacity: 1;
}
.card-container:hover .wrapper-section::after{
    height:120px;
}
.title-img{
    width: 100%;
    transition: transform 0.5s;
}
.card-container:hover .title-img{
    transform: translate3d(0%,-50%,100px);
}
.character-img{
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.card-container:hover .character-img{
    opacity: 1;
    transform: translate3d(0,-30%,100px);
}
.summary-section{
  color:white;
  padding: 10px;
  border: 1px solid white;
  margin: 20px 0 0 0 ;
}
.summary-section h2{
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: underline;
}
.summary-section ul li{
  margin: 5px 0;
  font-size: 18px;
  text-align: justify;
}
.summary-section ul li bold{
  color:#E6B9A6;
  font-size: 20px;
}
 